$negro: #6c9be6;

@mixin  margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background: $negro;
    width: 120%;
}
.letras{
    font-style: italic;
    color: beige;
}
.card-hotel{
 flex: 1 150px;
 flex-direction: initial;
 padding: 10px;
 margin-right: 15px;
 @include margenes(70px,0px);
}

.container{
    flex:row;
    display: inline-flex;
}

.btn-reverse{
    @include margenes(5px,0px);
    width: 100%;
    border-radius: 7%;
    image-resolution: initial;    
}

.footer{
    @include margenes(18px,0px);
    padding:80px;
    
}


.card-img-top{
width: 100%;
height: 40%;
}

.nav-link{
    font-style: inherit;
    color: white;
    margin-left: 10px;

}

.containerjum{
    background:$negro;
}

.footer-address-icon{
    padding-right: 10px;
}

.a{
    margin-bottom: 60px;
}

.nave-item{
    display: flex;
    flex-wrap: wrap;
}

.links{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.carousel-inner img{
    width: 80%;
    height: 80%;
    
}

#myCarousel{
    margin-left: 10%;
    @include margenes(0px,40px);
    margin-right: 10%;
}