    .jumbotron{
        background: black;

    }
    .letras{
        font-style: italic;
        color: beige;
    }
    .card-hotel{
     flex: 1 150px;
     flex-direction: initial;
     margin: 25px;
     padding: 10px;
     margin-bottom: 30px;
    }
    
    
    .btn-reverse{
        margin-top: 5px;
        width: 100%;
    
    }
    
    .footer{
        margin: 100%;
        padding:80px;
        
    }
    
    
    .imagen-item{
        width: 350px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 15px;
    }
    
    .nav-link{
        font-style: inherit;
        color: white;
        margin-left: 10px;

    }
    
    .containerjum{
        background: black;
    }
   
    .footer-address-icon{

        padding-right: 10px;
    }