.jumbotron{
background-color: black;
}
.letras{
    font-style: italic;
    color: beige;
}
.card-hotel{
 flex: 1 150px;
 flex-direction: initial;
 margin: 25px;
 padding: 10px;
 margin-bottom: 70px;
}
.

.btn-reverse{
    width: 100%;

}

.footer{
    margin: 100%;
    padding:80px;
    
}


.imagen{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.nav-link{
    font-style: inherit;
    color: antiquewhite;
}